.navbar-container {
    display: flex;
    background-color: blanchedalmond;
    border-style: solid;
    border-radius: 15px;
    margin-bottom: 20px;
}

.navbar-title {
    height: 50px;
    width: 300px;
    font-size: 64px;


    .navbar-space {
        flex-grow: 1;
    }

    .navbar-links {}

    .navbar-item {
        padding: 10px;
        font-size: 26px;
    }